@inherits LayoutComponentBase

<Layout>
    <LayoutHeader Class="header">
        <Container>
            <h1>
                <Icon Name="@("fab fa-youtube")" /> YT Downloader
            </h1>
        </Container>
    </LayoutHeader>
    <LayoutContent>
        <div style="margin-top: 25px;"></div>
        <Container>
            <TomiSoft.YouTubeDownloader.WebUI.Client.Pages.Index />
        </Container>
    </LayoutContent>
</Layout>