@using Blazorise
@using TomiSoft.YouTubeDownloader.WebUI.Client.Models
@using TomiSoft.YouTubeDownloader.WebUI.Client.Services

@inherits LayoutComponentBase
@inject BackendService Backend

<Layout>
    <LayoutHeader Class="header">
        <Container>
            <h1>
                <Icon Name="@("fab fa-youtube")" /> YT Downloader
            </h1>
        </Container>
    </LayoutHeader>
    <LayoutContent>
        <div style="margin-top: 25px;"></div>
        <Container>
            <TomiSoft.YouTubeDownloader.WebUI.Client.Pages.Index />
        </Container>
    </LayoutContent>
    <LayoutFooter>
        <Blazorise.Link To="https://github.com/std66/TomiSoft.YoutubeDownloader.WebUI">TomiSoft.YoutubeDownloader.WebUI</Blazorise.Link>
        @versionInfo?.Version.ToString()
    </LayoutFooter>
</Layout>

@code  {
    private AppVersionInfo versionInfo;

    protected override async Task OnInitializedAsync() {
        versionInfo = await Backend.GetAppVersionAsync();
    }
}