.header {
    background-color: #5879ad;
    font-weight: bold;
    color: #ffffff;
    padding: 2vh 0vw;
}

.hidden {
    display: none;
}

.auto-margin {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .sm-centered {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #video-thumbnail {
        max-height: 200px;
        margin-bottom: 15px;
    }
}