.header {
    background-color: #5879ad;
    font-weight: bold;
    color: #ffffff;
    padding: 2vh 0vw;
}

.hidden {
    display: none;
}

.auto-margin {
    margin-left: auto;
    margin-right: auto;
}