@page "/"

<Row>
    <Column>
        <Addons>
            <Addon AddonType="AddonType.Body">
                <TextEdit Placeholder="Paste video link here" />
            </Addon>
            <Addon AddonType="AddonType.End">
                <Button Color="Color.Primary">Download</Button>
            </Addon>
        </Addons>
    </Column>
</Row>

<RowSpacing SizeInPx="15" />

<Row>
    <Column>
        <RadioGroup TValue="string" Name="targetFormat" Buttons="true" CheckedValue="@("mp3audio")">
            <Radio TValue="string" Value="@("video")">Video</Radio>
            <Radio TValue="string" Value="@("mp3audio")">MP3</Radio>
        </RadioGroup>
    </Column>
</Row>